/*通用设置*/
*{
	margin:0px auto;
	padding:0px;	
	list-style:none;
	font-family: 宋体;
	color:#522a06;}
img{
   border:0px;}
body{
	padding: 0px;
	margin: 0px;
	background:url(../images/beijing.jpg);
	font-size:12px;}
a{
	color:#522a06;
	text-decoration:none;}
a:hover{
	text-decoration:underline;}
li{
	list-style:none;
	margin:0px;
	padding:0px;}

/*页面顶部*/
.header{
	width:100%;
	height:164px;
	background-image:url(../images/beijing.jpg);
	background-position:center;}
	.head_content{
	width:1000px;
	margin:auto;}
.logo{
	float:left;
	margin-top:38px;
	margin-left:25px;}
.logo-right{
    float: left;
    margin-top:58px;
    margin-left:25px;
}


/*导航*/
.nav{
	width:100%;
	height:40px;
	background:url(../images/biaotou.jpg);}
.nav_content{
	width:1000px;}
.n_content{
	float:left;
	width:800px;
	font-weight:bolder;
	color:#FFF;}
.n_content a{
	color:#FFF;
	width:65px;
	line-height:40px;
	font-weight:bold;
	text-align:center;}
.n_content a:hover{
	color:#f9f603;
	text-decoration:none;}
#col_wei{
	color:#f9f603;
	width:45px;}
#long{
	width:105px;}
.nav_search{
	width:190px;
	float:left;
	padding:10px 0;}
.search{
	width:140px;
	height:19px;
	float:left;
	border:1px solid #FFF;
	background-color:#f8f5ee;}
.search_btn{
	width:44px;
	height:21px;
	float:left;
	background-color:#000;
	border:1px solid #f8f5ee;
	color:#FFF;}
/*中部*/
.content{
	background:url(../images/bg.jpg);
	background-repeat:repeat;
	margin-bottom:10px;
	width:1000px
	}
.content-lift{
	width: 620px;
	height: 1000px;
	float: left;
	margin-right: 20px;
}
.content-right{
	width: 300px;
	height: 1000px;
	float: right;
	margin-right: 20px;
}
.content-lift up{
	width: 620px;
	height: 20px;
}
.content-lift down{
	width: 620px;
	height: 450px;
}
.content-right-up{
	border-style: dashed;
	border-color: yellow;	
}
.content-right-down{
	border-style: dashed;
	border-color: yellow;
	margin-top: 20px;
}
p{
	margin-top:5px;
    text-indent:2em;
    font:normal normal 1.5em "宋体";
    line-height: 2em;
}
img{
	text-align: center;
}

/**底部**/
.footer {
	background:url(../images/beijing7.jpg);
	width:100%;
	background-position:center;	
	padding:30px 0 0 0;
	text-align:center;
	height:105px;
	clear:both;}
.footer h1{	
	font-size:12px;}
.footer p{ 
	margin-top:10px;}